*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  }
  body{
    background-color: black;
    color: #fff;
    
  }
  /* ---------------------------------header----------------------------------------------- */
  header{
    width: 100%;
    height: 78vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(Image/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 20%;
    position: relative;
    border-bottom: 8px solid #333;
    
  }
  nav
  {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 10px 0;
  }
.logo
{
  width: 150px;
  
}
.buttons{
  bottom: 0;
  outline: 0;
  font-size: 12px;
  border-radius: 4px;
  display: flex;
  width: 20%;
  justify-content: space-between;
}
.sign-in{
  background-color: #fc0202;
  color: white;
  border: 0;
  border-radius: 4px;
  width: 25%;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}
.lang-button{
  color: #fff;
  cursor: pointer;
  background-color:transparent;
  border-radius: 4px;
  border: #fff solid 1px;
  font-size: 140%;
  width: 150px;
  height: 10%;
}
.lang-button span{
  width: 100px;
}
.header-content
{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  margin-top: 100px;
  width: 50%;
}
.header-content h1{
  font-size: 3rem;
  line-height: 70px;
  font-weight: 600;
  max-width: 2000px;
}
.header-content h3{
    font-weight: 400;
    font-size: 25px;
    padding: 10px;
}
.header-content p{
    font-weight: 300;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
}
.email-signup input{
    border: 1px solid rgb(244, 243, 243);
    background-color: transparent;
    border-radius: 3px;
    color: #fbfbfb;
    width: auto;
    position:relative;
    right: 2%;
    left: 3%;
    width: 35%;
    height: 6vh;
}
.email-signup button{
    background-color: #fc0202;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #fcfbfb;
    position: relative;
    height: 6vh;
    left: 3%;
    width: 25%;
    font-weight: 800;
    font-size: 20px;
    padding: 0 0px;
}


.row
{
  display: flex;
  width:100%;
  flex-wrap: wrap;
  padding: 200px 0;
  align-items: center;
  border-bottom: 8px solid #333; 
}
.text-col
{
  flex-basis: 50%;
  margin-bottom: 20px;
  margin-left: 10%;
}
.row h2{
  font-size: 60px;
  padding: 40px 70px;
  margin-left: 90px;
}
.row p{
  font-size: 25px;
  padding: 0px;
  margin-left: 165px;
  margin-bottom: -25px;
}
.img-col
{
  flex-basis: 40%;
  margin-bottom: 20px;
}
.img-col video{
  width: 50%;
  display: block;
  margin: auto;
  margin-left: 20px;

}


.faq{
  padding: 10px 12%;
  font-size: 18px;
  text-align: center;
}

.faq{
  font-weight: 500;
  font-size: 25px;
}
.accordion li label:hover{
  background-color: #777;
}

.accordion{
  margin: 60px auto;
  width: 100%;
  max-width: 750px;
}

.accordion li{

  list-style: none;
  width: 120%;
  height: 50%;
  padding: 5px;
}

.accordion li label{
  align-items: center;
  padding: 20px;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  background: #303030;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;

}

label::after{
  content: '+';
  font-size: 40px;
  position: absolute;
  right: 20px;
  transition: transform 0.5s;
}
input[type="checkbox"]{
  display: none;
}

.accordion .content{
  background-color: #303030;
  text-align: left;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  font-size: 20px;
  transition: max-height 0.5s,padding 0.5s;

}
.accordion input[type="checkbox"]:checked + label + .content
{

  max-height: 600px;
  padding: 30px 20px;
}

.accordion input[type="checkbox"]:checked + label::after
{
  transform: rotate(135deg);
}

.faq .email-signup{
  max-width: 600px;
  margin: 20px auto 60px;
}

.faq small{
  font-size: 17px;
}
